%input.latitude{type: "text", required: true, placeholder: 'Latitude'}
%input.longitude{type: "text", required: true, placeholder: 'Longitude'}
%input.radius{type: "text", required: true, placeholder: 'Radius in km'}
%button.find_pics Find pictures